.about{
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 100%;
    min-height: 100vh;
    background: url('../images/header.jpg') no-repeat center center fixed;
    background-size: cover;
    
    &__header {
         
          margin: 0;
          padding-top: rem(80);
          padding-bottom: rem(20);

        &--title {
            font-family: 'Titillium Web', sans-serif;
            color: $yellow;
            font-size: rem(30);
            text-transform: uppercase;
            letter-spacing: rem(1);

            &:first-letter{
                text-transform: uppercase;
            }
        }
    }

    &__main {

        padding: rem(45);
        background-color: rgba(255, 255, 255, 0.0);

        &--link {
          filter: drop-shadow(0 1em 1em rgba(#000, .16));
          font-size: 1rem;
          max-width: 25em;
          padding: 2em 2.4em;
          position: relative;
          transform: translateZ(0);

          &::before,
          &::after {
            background-color: $yellow;
            border-radius: 3px;
            content: ' ';
            display: block;
            position: absolute;
            transform-origin: right;
            transition: transform 500ms;
            width: 60px; 
            margin-left: -20px;
            height: 100%;
            top: 0; left: 0;
            z-index: -1;
          }      
        }

        &--description {
            font-family: $basic-font;
            font-size: rem(20);
            text-align: left;
            color: $text-color;
            line-height: rem(35);
            background-image:
            linear-gradient(0deg, #ddd, #000),
            linear-gradient(0deg, #fff, #fff),
            ;
            background-size: 0 2px, 0 100%;
            background-position: 8px calc(1em + 8px), 0 0;
            background-repeat: no-repeat;
            box-decoration-break: clone;
            display: inline;
            font-weight: 300;
            padding: 6px 8px;
            margin-left: -8px;
            pointer-events: none;
            line-height: 1.75; 
            text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.342), -1px 1px 0 rgba(255, 255, 255, 0.473);
            transition: background ease-out 500ms;
            
        }
    }
}

.about__main--link:hover > .about__main--description {
  background-size: calc(100% - 16px) 2px, 100% 100%;
  transition-duration: 200ms;
}

@include media($tablet) {

    .about { 
        text-align: left;

        &__header {
            &--title {
                margin-top: rem(50) ;
                margin-left: rem(50);
                font-size: rem(50);
            } 
        }
        &__main {
            max-width: 750px;
            margin: auto;
            padding: rem(0);

            &--link {

              &::after {            
                width: 120px; 
                margin-left: -30px;
              
              }
            }
        }
    }
}
