.contact{
 
    text-align: center;
    height: 100vh;
    background: url('../images/contact.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: rem(0) rem(100);


    &__header {

          &--title {
            font-family: $Oswald;
            color: $orange;
            font-size: rem(30);
            margin-top: rem(210);
            margin-bottom: rem(100);
            text-transform: uppercase;
            letter-spacing: rem(3);
        }
    }

    &__main {

        background: rgba(255,255,255,1);
        z-index: 1;
        border-radius: 0 50px;
        padding: 40px;
        -webkit-box-shadow: -1px 10px 36px -9px rgba(0,0,0,0.47);
        -moz-box-shadow: -1px 10px 36px -9px rgba(0,0,0,0.47);
        box-shadow: -1px 10px 36px -9px rgba(0,0,0,0.47);
        transition: all 0.2s ease-in-out;
        width: 200px;


    }

    &__main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
  
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;

    &__name {

        font-family: $basic-font;
        color: $text-color;
        font-size: rem(12);
        margin: rem(5)rem(0);

    }

    &__input {
        border: rem(0.5) solid #e2dddd;
        border-radius: rem(10);
        margin-bottom: rem(5);
        padding: rem(5);
        font-family: $basic-font;
        color: #a7a7a7; 
    
    }

    &__email {
        font-family: $title-font;
        color: $text-color;
        font-size: rem(12);
        margin: rem(5)rem(0);

    }

    &__button {
        width: rem(100);
    }

}

@include media($tablet) {

    .contact {

        &__main {

            width: 500px;

        }

    }

}


@include media($desktop) {

    .contact {

        &__main {

            width: 900px;

        }

    }

}


