.wrapper {
    margin: 0;
    height: 100%;
    background-color:var(--bg-color);
    min-height: 100vh;

}

.page {
   
  
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding-top: rem(120);
     


        &--title {
            margin:0;
            font-size: rem(25);
            font-family: $title-font;
            font-weight: 400;
            color: var(--font-color);
        }
  

        &--span {
            font: 700 4em/1 "Oswald", sans-serif;
            letter-spacing: 0;
            padding: .25em 0 .325em;
            display: block;
            margin: rem(30) rem(20);
            background: url(http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png) repeat-y;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-animation: aitf 80s linear infinite;
            -webkit-transform: translate3d(0,0,0);
            -webkit-backface-visibility: hidden;
            text-transform: uppercase;
        }

        @-webkit-keyframes aitf {
            0% { background-position: 0% 50%; }
            100% { background-position: 100% 50%; }
        }

        &--job {
            font-size: rem(13);
            margin-top: rem(5);
            color: var(--font-color);
            text-transform: uppercase;
            letter-spacing: rem(3);
            margin-left: rem(20);
            font-family: $courier;
            
        }

        &--description{

                font-family: $courier;
                font-size: rem(10);
                text-align: left;
                color: var(--font-color);
                margin: rem(20);
                letter-spacing: rem(2);
                line-height: rem(18);
     
        }

        &--skills {

                font-family: $courier;
                font-size: rem(10);
                text-align: left;
                color: var(--font-color);
                margin: rem(20);
                letter-spacing: rem(2);
                line-height: rem(18);
        }
        &--icons {
            margin: rem(15)
        }
    }
}
.icons--contact {
   
    color: var(--icon-color);
    margin: rem(0) rem(5) rem(0) rem(5);
    bottom: 0;
    font-size:23px;
}

.button-theme {
    background-color: transparent;
    color: $subtitle-color;
    border-color: transparent;

}

.button-projects {

    display: inline-block;
    outline: none;
    padding: 0.5em 1.0em;
    margin: rem(30) rem(20);
    border: 1px solid var(--font-color);
    border-radius: 4px;
    color: var(--font-color);
    font-family: $courier;
    font-size: rem(10);
    background-color: transparent;
    transition: all 0.2s;

    &:hover {
        background-color: rgb(54, 54, 54);
        color: $subtitle-color;
        cursor: pointer;
        transition: all ease 0.3s;
    }
}


@include media($tablet){
    .page {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        

        &__wrapper {
            padding: rem(100) rem(100) rem(50) rem(100);
            text-align: center;
           
       
            &--title {
                font-size: rem(30);
                margin-top: rem(50);
            }

            &--job {
                font-size: rem(20);
                margin-top: rem(10);
            }

            &--description,
            &--skills {
                font-size: rem(18);
                line-height: rem(23);
                text-align: center;   
            }
            &--description {
                margin-top: rem(60)
            }

        }

        &__menu {
            display:flex;
            flex-direction: row;
            justify-content: center;

            &--item{
                margin: rem(50);
                padding: rem(15);
                border-left: 2px solid rgb(110, 110, 110);
                border-right: 2px solid rgb(110, 110, 110);
                border-bottom: 0px ;
                border-top: 0px ;
                color: rgb(110, 110, 110);
                font-size: rem(15);
    
            }
        }        
    }

    .button-projects {
        font-size: rem(20);
        margin: rem(20);
    }
}
@include media($desktop) {
    .page__wrapper {
        &--description,
        &--skills {
            max-width: 900px;
            margin: auto;
            margin-top: 50px;
            margin-bottom: 50px;
    }
}
}
