.projects{
 
    text-align: center;
    padding: 0;
    height: 100%;


    &__header {
          background: url('../images/header-p.jpg') no-repeat center center fixed;
          background-size: cover;
          margin: 0;
          height: 100vh;
          padding: rem(50) rem(0);

          &--title {
            font-family: $Oswald;
            color: $red;
            font-size: rem(30);
            text-transform: uppercase;
            margin-top: rem(100);
            letter-spacing: rem(1);
        }
    }
    
}

.content__img {
    width: rem(300);
}