.projects {
 
    text-align: center;
    padding: 0;
    height: 100%;
    background-size: cover;
    margin: 0;
    height: 100%;
    min-height: 100vh;
    background-color: black;

    &__header {
         
          padding: rem(60) rem(0);

          &--title {
            font-family: $basic-font;
            color: $subtitle-color;
            font-size: rem(30);
            text-transform: uppercase;
            margin-bottom: rem(10);
            letter-spacing: rem(1);
        }
    }

    &__main {

        &--filter {
            text-align: center;
            padding: rem(20);
        }

        &--portfolio {
            display:flex;
            flex-flow: row wrap;
            justify-content: center;
            align-content: center;
            align-items: center;
            padding: rem(20);
            max-width: rem(1200);
            margin: auto;
        }
    
    }
    
}

.filter__btn {

    display: inline-block;
    outline: none;
    padding: 0.5em 1.0em;
    margin: rem(12) rem(0);
    border: 1px solid $subtitle-color;
    border-radius: 4px;
    color: $subtitle-color;
    font-family: $courier;
    font-size: rem(10);
    background-color: transparent;
    transition: all 0.2s;

    &:hover {
        background-color: rgb(54, 54, 54);
        color: $subtitle-color;
        cursor: pointer;
        transition: all ease 0.3s;
    }
}
.margin {
    margin-bottom: rem(10);
}

.portfolio {

    padding: rem(10);
    border: rem(1) solid rgb(187, 186, 186);
    border-radius: rem(5);
    margin: rem(10);
    background-color: rgba(255, 255, 255, 0.90);
    box-shadow: 3px 4px 16px 6px rgba(0,0,0,.17);
    width: auto;
    height: 270px;
    
    &:hover {
        transform: translateY(-5px);
        border-color: $red;
    }

    &__images {
        width: rem(250);
    }

    &__title {
        font-family: $basic-font;
        font-size: rem(20);
        color: $text-color;

    }

    &__subtitle {
        font-family: $basic-font;
        font-size: rem(15);
        margin-top: rem(0);
        color: $text-color;


    }
    
    &__icon {
        color: $text-color;
        margin: rem(0) rem(5);

        &:hover {
            color: $red-light;
            cursor: pointer;
        }
    }
}

.hidden {
    display:none;
}


@include media($tablet) {

    .portfolio {

        &__images {
            width: rem(280);
        }
        &__title {
            font-size: rem(23);
        }
    }
}

@include media($desktop) {
    
    .portfolio {

        &__images{
            width: rem(300);
        }
        &__title {
            font-size: rem(26);
        }
    }
}