<header class="header">
  <div class="header__wrapper">
    <img src="../assets/images/logo.svg" alt="logo ana sanchez" class="header__wrapper--logo">
    <ul class="header__wrapper--menu">
      <li>
        <a href="http://">proyectos</a>
      </li>
    </ul>
  </div>
  <div class="header__slide">
    <img src="../assets/images/icon-design-slide.png" alt="icono diseño" class="header__slide--design">
    <img src="../assets/images/icon-dev-slide.png" alt="icono desarrolladora" class="header__slide--dev">
    <img src="../assets/images/icon-ux-slide.png" alt="icono ux" class="header__slide--ux">
  </div>
</header>
<main class="main">
  <section class="main__description">
    <img src="../assets/images/photo.png" alt="" class="main__description--photo">
    <p class="main__description--text">Profesional del diseño gráfico y web. Decidí dar un paso adelante y adentrarme en el mundo del desarrollo front-end cuando me regalaron una Raspberry Pi y ¡uala! ya había instalado mi primer sistema operativo open source.</p>
    <p class="main__description--text">
    Emprendiendo desarrollé una amplia capacidad de empatía y escucha activa. Ahora resuelvo problemas línea a línea.</p>
  </section>
</main>
