<main class="page">
    <div class="page__wrapper">

        <div>
            <span class="page__wrapper--span">
                Ana Sánchez Rojo
            </span>
            <span class="page__wrapper--job">
                Desarrolladora Front-end
            </span>
        </div>
         
    </div>
    <button class="button-projects" href="./projects.html">PROJECTS</button>
    <div class="page__wrapper--theme">
        <button class="button-theme" id="js-theme-light">LIGHT</button>
        <span class="space">/</span>
        <button class="button-theme" id="js-theme-dark">DARK</button>
    </div>  
</main>