<main class="page">
    <div class="page__wrapper">

        <div>
            <span class="page__wrapper--span">
                Ana Sánchez Rojo
            </span>
            <span class="page__wrapper--job">
                desarrolladora front end
            </span>
        </div>
         
    </div>
    <a class="" href="./projects.html"><button class="button-projects">PROYECTOS</button></a>
    <!-- <div class="page__wrapper--theme">
        <button class="button-theme" id="js-theme-light">LIGHT</button>
        <span class="space">/</span>
        <button class="button-theme" id="js-theme-dark">DARK</button>
    </div>   -->
    <nav class="content">
        <div class="theme-switch-wrapper">
            <em>Dark</em>

            <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox" />
                <div class="slider round"></div>
            </label>
            <em>Light</em>
        </div>      
      </nav> 
</main>