<main class="page">
    <div class="page__wrapper">

        <div>
            <span class="page__wrapper--span">
                Ana Sánchez Rojo
            </span>
            <span class="page__wrapper--job">
                desarrolladora front end
            </span>
            <p class='page__wrapper--description'>
                Profesional del <strong>diseño gráfico y web</strong>. Decidí dar un paso adelante y adentrarme en el mundo del <strong>desarrollo front-end</strong> cuando me regalaron una Raspberry Pi y ¡uala! ya había instalado mi primer <strong>sistema operativo open source.</strong>
            </p>
            <p class="page__wrapper--skills">
                Emprendiendo desarrollé una amplia capacidad de empatía y escucha activa. <strong>Ahora resuelvo problemas línea a línea.</strong>
            </p>
            <div class="page__wrapper--icons">
                <a href="https://github.com/ana-sanchez/" target="_blanck" >
                    <i class="fab fa-github-alt icons--contact"></i>
                </a>
                <a href="mailto:snchz.rojo@gmail.com"  target="_blanck">
                    <i class="fas fa-envelope icons--contact"></i>
                </a>
                <a href="https://www.linkedin.com/in/ana-sanchez-rojo/" target="_blanck">
                    <i class="fab fa-linkedin icons--contact"></i>
                </a>
            </div>
        </div>
        
         
    </div>

    <nav class="content">
        <div class="theme-switch-wrapper">
            <em>Light</em>
            <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox" class="theme-switch"/>
                <div class="slider round"></div>
            </label>
            <em>Dark</em>
        </div>      
      </nav> 
</main>