<div class="hamburger">
    <div class="_layer -top"></div>
    <div class="_layer -mid"></div>
    <div class="_layer -bottom"></div>
</div>
<nav class="menuppal">
    <ul>
        <li><a href="./index.html">Inicio</a></li>
        <li><a href="./projects.html">Proyectos</a></li>
    </ul>
    <p class='menuppal__description'>Profesional del diseño gráfico y web. Decidí dar un paso adelante y adentrarme en el mundo del desarrollo front-end cuando me regalaron una Raspberry Pi y ¡uala! ya había instalado mi primer sistema operativo open source.
    </p>
    <p class="menuppal__skills">
        Emprendiendo desarrollé una amplia capacidad de empatía y escucha activa. Ahora resuelvo problemas línea a línea.
    </p>
    <div class="menuppal__icons">
        <a href="https://github.com/ana-sanchez/" target="_blanck" >
            <i class="fab fa-github-alt menuppal__icons--dark"></i>
        </a>
        <a href="mailto:snchz.rojo@gmail.com"  target="_blanck">
            <i class="fas fa-envelope menuppal__icons--dark"></i>

    </div>

    </a>

</nav>