<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ana Sánchez Rojo</title>
    <link rel="stylesheet" href="./assets/css/normalize.css" />
    <link rel="stylesheet" href="./assets/css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600,700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div id="about" class="about">
        <header class="about__header">
            <h1 class="about__header--title">
                Quien soy
            </h1>
        </header>

        <main class="about__main">
            <p class="about__main--name">
                Ésta soy yo:
            </p>
            <img class="about__main--image1" src="./assets/images/photo.jpg" alt="ana">
            <p class="about__main--text">
                <strong>VALE</strong> esto es de hace tiempo..
            </p>
            <p class="about__main--text">
                ahora me parezco más a esto!
            </p>
            <img class="about__main--image2" src="./assets/images/photo-ana2.jpg" alt="ana">
            <p class="about__main--description">
                Apasionada del diseño gráfico y web. Decidí dar un paso adelante y adentrarme en el mundo del
                <strong>desarrollo front-end</strong>
                cuando me regalaron una
                <strong>Raspberry Pi</strong>
                y ¡uala! ya había instalado mi primer sistema operativo
                <strong>open source</strong> .
                <br>
                Emprendiendo colectivamente desarrollé una amplia capacidad de empatía y escucha activa. Ahora
                <strong>resuelvo problemas</strong>
                línea a línea.
            </p>


        </main>






    </div>
</body>

</html>