<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ana Sánchez Rojo</title>
    <link rel="stylesheet" href="./assets/css/normalize.css" />
    <link rel="stylesheet" href="./assets/css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600,700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div id="contact" class="contact">
        <header class="contact__header">
            <partial src="_menu.html" label="Menu"></partial>
            <h1 class="contact__header--title">
                Contacta
            </h1>
        </header>

        <main class="contact__main">
            <form action="" method="" class="form">
                <label class="form__name">Nombre y apellidos</label>
                <input class="form__input" type="text">
                <label class="form__email">Email</label>
                <input class="form__input" type="text">
                <button class="form__button btn">Enviar</button>
            </form>
        </main>
    </div>
    <script src="../assets/js/main.js"></script>
</body>

</html>