<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ana Sánchez Rojo</title>
    <link rel="stylesheet" href="./assets/css/normalize.css" />
    <link rel="stylesheet" href="./assets/css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600,700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div id="projects" class="projects">
        <header class="projects__header">
            <h1 class="projects__header--title">
                Proyectos
            </h1>
        </header>

        <main class="projects__main">

        </main>






    </div>
</body>

</html>