<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ana Sánchez Rojo</title>
    <link rel="stylesheet" href="./assets/css/normalize.css" />
    <link rel="stylesheet" href="./assets/css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600,700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div id="projects" class="projects">
        <header class="projects__header">
            <partial src="_menu.html" label="Menu"></partial>
            <h1 class="projects__header--title">
                Proyectos
            </h1>
        </header>
        <main class="projects__main">
            <div id="myBtnContainer">
                <button class="btn active" > All</button>
                <button class="btn"> HTML y CSS3</button>
                <button class="btn"> JavaScript</button>
                <button class="btn"> React</button>
            </div>
            <div>
                <img src="../assets/images/skylabers.jpg" class="content__img">
                <h2>Web Responsive</h2>
            </div>
            <div>
                <img src="../assets/images/awesome-profile-cards.png" class="content__img">
                <h2>Awesome Profile Cards</h2>
            </div>
            <div>
                <img src="../assets/images/react-awesome.png" class="content__img">
                <h2>Refactoring Code React</h2>
            </div>
            <div>
                <img src="../assets/images/rick-morty.png" class="content__img">
                <h2>Character Finder</h2>
            </div>

        </main>






    </div>
    <script src="../assets/js/main.js"></script>
</body>

</html>