.btn {
    font-weight: 700;
    font-size: rem(10);
    text-transform: uppercase;
    color: #fff;
    width: rem(60);
    height: rem(30);
    margin-top: rem(5);
    padding: 0.5em 1.0em;
    margin: rem(12) rem(0);
    border: 1px solid $red;
    border-radius: 4px;
    color: $red;
    font-family: $basic-font;
    font-size: rem(12);
    background-color: transparent;
    transition: all 0.2s;

    &:hover {
        
            background-color: $red-light;
            color: white;
            cursor: pointer;
            transition: all ease 0.3s;    


    }
}
