/* DEVICE WIDTH - media queries breakpoints */
$tablet: 768px;
$desktop: 1024px;

/* FONTS */
$defaultFontSize: 16;
$title-font: 700 4em/1 "Oswald", sans-serif;;
$basic-font: 'Titillium Web', sans-serif;
$Oswald: "Oswald", sans-serif;
$courier: 'Courier Prime', monospace;
$home-font: "Neuton";


/* COLORS */
$title-color: rgb(46, 46, 46);
$text-color:  rgb(70, 70, 70);
$subtitle-color: rgb(219, 219, 219);
$menu-color: rgb(110, 110, 110);
$menu-hamburguer: rgba(239, 103, 50, 0.920);
$menu-hover: #c9c9c9;
$orange:  rgb(239, 103, 50);
$yellow: #E1C21D;
$red: #C62D43;
$red-light: rgb(202, 79, 98);