/* DEVICE WIDTH - media queries breakpoints */
$tablet: 768px;
$desktop: 1200px;

/* FONTS */
$defaultFontSize: 16;
$title-font: 'Playfair Display', serif;
$basic-font: 'Titillium Web', sans-serif;

/* COLORS */
$title-color: rgb(46, 46, 46);
$text-color:  rgb(70, 70, 70);
$subtitle-color: rgb(141, 141, 141);
$menu-color: rgb(110, 110, 110);
